config.ini
dist/
venv/
__pycache__/
out/
build/
build/video_speller/Analysis-00.toc
build/video_speller/base_library.zip
build/video_speller/EXE-00.toc
build/video_speller/PKG-00.toc
build/video_speller/PYZ-00.pyz
build/video_speller/PYZ-00.toc
build/video_speller/Splash-00_script.tcl
build/video_speller/Splash-00.res
build/video_speller/Splash-00.toc
build/video_speller/VideoSpellChecker.pkg
build/video_speller/warn-video_speller.txt
build/video_speller/xref-video_speller.html
build/video_speller/localpycs/pyimod01_archive.pyc
build/video_speller/localpycs/pyimod02_importers.pyc
build/video_speller/localpycs/pyimod03_ctypes.pyc
build/video_speller/localpycs/pyimod04_pywin32.pyc
build/video_speller/localpycs/struct.pyc
build/video_speller_dir/Analysis-00.toc
build/video_speller_dir/base_library.zip
build/video_speller_dir/COLLECT-00.toc
build/video_speller_dir/EXE-00.toc
build/video_speller_dir/PKG-00.toc
build/video_speller_dir/PYZ-00.pyz
build/video_speller_dir/PYZ-00.toc
build/video_speller_dir/Splash-00_script.tcl
build/video_speller_dir/Splash-00.res
build/video_speller_dir/Splash-00.toc
build/video_speller_dir/VideoSpellChecker.exe
build/video_speller_dir/VideoSpellChecker.pkg
build/video_speller_dir/warn-video_speller_dir.txt
build/video_speller_dir/xref-video_speller_dir.html
build/video_speller_dir/localpycs/pyimod01_archive.pyc
build/video_speller_dir/localpycs/pyimod02_importers.pyc
build/video_speller_dir/localpycs/pyimod03_ctypes.pyc
build/video_speller_dir/localpycs/pyimod04_pywin32.pyc
build/video_speller_dir/localpycs/struct.pyc
custom_dictionary.txt
